body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.hidden {
  display: none; }

section,
.main_head {
  position: relative; }
  section h3,
  .main_head h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 30px; }

section {
  padding: 90px 0 90px; }
  section h2 {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0 0 15px; }

.personal_header {
  font-size: 1.5em;
  text-align: left;
  margin-bottom: 30px;
  color: #555; }

.s_descr_wrap {
  text-align: center; }

.s_descr {
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 130px; }
  .s_descr::after {
    content: "";
    width: 150px;
    height: 1px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    margin-top: 60px; }

.main_head {
  min-height: 620px;
  padding-top: 3em; }

.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader_inner {
  background-image: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 128px;
  width: 128px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }

.logo_container {
  float: left; }

svg {
  height: 60px;
  width: 60px;
  z-index: 100;
  position: relative; }

.toggle_mnu {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 100;
  border: none; }
  .toggle_mnu span {
    display: block; }

.sandwich {
  width: 34px;
  height: 34px;
  position: absolute;
  top: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200; }

.sw-topper {
  position: relative;
  top: 0;
  width: 34px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 34px;
  height: 3px;
  top: 6px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 34px;
  height: 3px;
  top: 12px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

.sandwich.active .sw-topper {
  top: 8px;
  transform: rotate(140deg); }
.sandwich.active .sw-bottom {
  top: 5px;
  transform: rotate(-140deg); }
.sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

.top_mnu {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  right: 0;
  top: 0;
  display: none; }
  .top_mnu ul,
  .top_mnu li {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .top_mnu ul:nth-child(1),
    .top_mnu li:nth-child(1) {
      -webkit-animation-duration: 0.1s;
      -moz-animation-duration: 0.1s;
      animation-duration: 0.1s; }
    .top_mnu ul:nth-child(2),
    .top_mnu li:nth-child(2) {
      -webkit-animation-duration: 0.4s;
      -moz-animation-duration: 0.4s;
      animation-duration: 0.4s; }
    .top_mnu ul:nth-child(3),
    .top_mnu li:nth-child(3) {
      -webkit-animation-duration: 0.8s;
      -moz-animation-duration: 0.8s;
      animation-duration: 0.8s; }
    .top_mnu ul:nth-child(4),
    .top_mnu li:nth-child(4) {
      -webkit-animation-duration: 1.2s;
      -moz-animation-duration: 1.2s;
      animation-duration: 1.2s; }
  .top_mnu ul {
    margin-top: 120px;
    text-align: center; }
    .top_mnu ul a {
      color: #fff;
      display: block;
      padding: 20px 0;
      text-transform: uppercase;
      transition: background-color 0.5s; }

.top_wrapper {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; }
  .top_wrapper .top_descr {
    display: table-row; }
    .top_wrapper .top_descr .top_centered {
      display: table-cell;
      text-align: center;
      vertical-align: middle; }
  .top_wrapper .top_text {
    display: inline-block; }
    .top_wrapper .top_text h1 {
      display: inline-block;
      padding: 10px 30px;
      color: #fff;
      border: 8px solid #fff;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 4em;
      background-color: rgba(0, 0, 0, 0.3);
      margin: 20px 20px;
      padding: 10px 1px 10px 14px;
      -webkit-animation-delay: 1s;
      -moz-animation-delay: 1s;
      animation-delay: 1s; }
    .top_wrapper .top_text p {
      font-size: 1.5em;
      margin: 0;
      text-transform: uppercase;
      -webkit-animation-delay: 1.5s;
      -moz-animation-delay: 1.5s;
      animation-delay: 1.5s; }

.h_opacify {
  opacity: 0.2;
  transition: all 0.3s ease; }

.main_footer {
  padding: 50px 0;
  font-size: 0.9em;
  font-weight: 300; }

.person {
  text-align: center;
  margin-bottom: 30px; }
  .person img {
    max-width: 220px;
    display: inline-block;
    border-radius: 50%; }

.s_about p {
  margin-bottom: 25px; }
.s_about ul,
.s_about li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
.s_about li {
  margin-bottom: 10px; }
.s_about .social_wrap {
  margin-top: 25px; }
  .s_about .social_wrap li {
    display: inline-block;
    font-size: 1.4em;
    padding: 0 3px; }

.resume_container .left {
  text-align: right;
  border-right: #d2d2d2 1px solid; }
  .resume_container .left h3 {
    text-align: right; }
.resume_container .right {
  text-align: left; }
  .resume_container .right h3 {
    text-align: left; }
.resume_container h3 {
  margin-top: 30px; }
.resume_container .year {
  color: #fff;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 15px; }
.resume_container strong {
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase; }
.resume_container .resume_description {
  font-style: italic; }
.resume_container .resume_item {
  margin-bottom: 35px; }
  .resume_container .resume_item p {
    margin-top: 10px; }
    .resume_container .resume_item p:last-child {
      margin-bottom: 0; }
      .resume_container .resume_item p:last-child p {
        margin-bottom: 0; }

.s_portfolio ul,
.s_portfolio li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; }
.s_portfolio li {
  display: inline-block;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 0.9em;
  cursor: pointer;
  line-height: 2; }
.s_portfolio ul {
  margin-bottom: 50px; }

.portfolio_item {
  display: none;
  padding: 0; }
  .portfolio_item img {
    width: 100%; }
  .portfolio_item .port_item_cont {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    padding-top: 15%;
    opacity: 0;
    transition: all 0.25s; }
  .portfolio_item:hover .port_item_cont {
    opacity: 1;
    padding-top: 20%; }
  .portfolio_item h3 {
    color: #fff;
    margin-bottom: 0; }
  .portfolio_item a {
    background-color: transparent;
    border: #fff 1px solid;
    padding: 2px 10px;
    display: inline-block; }

.port_descr {
  background-color: #FFF;
  max-width: 500px;
  margin: auto; }
  .port_descr p,
  .port_descr h3 {
    padding: 20px;
    padding-bottom: 0; }
  .port_descr h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 25px;
    padding-top: 25px; }
  .port_descr p {
    margin-top: 0; }
  .port_descr img {
    width: 100%;
    margin-top: 10px; }

.modal-box-content {
  position: relative; }

.main_footer {
  padding: 50px 0;
  font-size: 13px;
  font-weight: 300; }
  .main_footer .social_wrap {
    float: right;
    line-height: 0; }
    .main_footer .social_wrap ul {
      margin: 0;
      list-style-type: none; }
      .main_footer .social_wrap ul li {
        display: inline-block;
        font-size: 1.5em; }

.person {
  text-align: center; }

.contact_box {
  margin-bottom: 30px; }
  .contact_box h3 {
    text-align: left;
    color: #000;
    margin-bottom: 0px;
    font-size: 14px; }
  .contact_box .contacts_icon {
    font-size: 30px; }
  .contact_box p {
    margin-top: 5px; }

.main_form button {
  border: none;
  color: #fff;
  line-height: 40px;
  padding: 0 25px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  float: right; }

.form-group {
  display: block;
  margin-bottom: 25px; }
  .form-group input,
  .form-group textarea {
    width: 100%;
    border: 1px solid #ccc;
    margin-top: 5px;
    line-height: 40px;
    text-indent: 12px;
    font-size: 12px;
    background-color: transparent; }

/*# sourceMappingURL=main.css.map */
